html {
  scroll-behavior: smooth;
 }
 
.body{
 height:100%;
 width:100%;
 background: linear-gradient;
position:absolute;
}
@keyframes example {
  from {color: #990066;}
  to { color: #ffe6f7;}
}

.sc{

animation-duration:1s;
animation-name: example;
animation-name:text-flicker;
position: absolute;
      top: 35%;
       left: 25%;
       margin-right: -50%; 
Font-size:100px;
animation-iteration-count: infinite;
}
 h1{
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size:64px;
  letter-spacing:10px;
  animation: text-flicker 3s linear infinite;
 cursor: pointer;
 font-size: 90px; 
  font-weight: bold;
  
}

p{
	color:white;
}
#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
}
.book1:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:12%;
	height:200px;
	cursor:pointer;
}
.book2:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:19%;
	height:200px;
	cursor:pointer;
}
.book3:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:26%;
	height:200px;
	cursor:pointer;
}
.book4:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:33%;
	height:200px;
	cursor:pointer;
}
.book5:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:40%;
	height:200px;
	cursor:pointer;
}
.book6:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:47%;
	height:200px;
	cursor:pointer;
}
.book7:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:54%;
	height:200px;
	cursor:pointer;
}
.book8:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:61%;
	height:200px;
	cursor:pointer;
}
.book9:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:68%;
	height:200px;
	cursor:pointer;
}
.book10:hover{
	margin-top:-10px;
	display:block;
	position:absolute;
	left:75%;
	height:200px;
	cursor:pointer;
}
.book1 img{
	padding-top:50px;
	position:absolute;
	left:12%;
	height:200px;
}
.book2 img{
	padding-top:50px;
	position:absolute;
	left:19%;
	height:200px;
}
.book3 img{
	padding-top:50px;
	position:absolute;
	left:26%;
	height:200px;
}
.book4 img{
	padding-top:50px;
	position:absolute;
	left:33%;
	height:200px;
}

.book5 img{
	padding-top:50px;
	position:absolute;
	left:40%;
	height:200px;
}

.book6 img{
	padding-top:50px;
	position:absolute;
	left:47%;
	height:200px;
}

.book7 img{
	padding-top:50px;
	position:absolute;
	left:54%;
	height:200px;
}
.book8 img{
	padding-top:50px;
	position:absolute;
	left:61%;
	height:200px;
}

.book9 img{
	padding-top:50px;
	position:absolute;
	left:68%;
	height:200px;
}

.book10 img{
	padding-top:50px;
	position:absolute;
	left:75%;
	height:200px;
}
#aut{
	display:none;
}
.auto:hover + div#aut{
	display:block;
}
div#aut:hover{
	display:block;
}
#fic{
	display:none;
}
.fict:hover + div#fic{
	display:block;
}
div#fic:hover{
	display:block;
}
#his{
	display:none;
}
.hist:hover + div#his{
	display:block;
}
div#his:hover{
	display:block;
}
#hor{
	display:none;
}
.horr:hover + div#hor{
	display:block;
}
div#hor:hover{
	display:block;
}
button{
	cursor:pointer;
	background-color:transparent;
	border-color:transparent;
	color:yellow;
}
button:hover{
	cursor:pointer;
	background-color:blue;
}
body{
	background-image:url(https://besthqwallpapers.com/Uploads/30-3-2019/85387/thumb2-blue-brick-texture-stone-texture-masonry-blue-background-bricks.jpg);
	text-align:center;
	background-color:#003366;
	color:white;
	max-width:100%;
	overflow-x:hidden;
}
#nav{
	background-color:#336699;
	height:50px;
	position:sticky;
	position:-webkit-sticky;
	top:0px;
}
button#navi{
	height:100%;
}
.top{
	color:orange;
	font-size:150%;
}
button#sub{
	height:40px;
	width:60px;
}
h1, h2, h3, h4, h5{
	font-size:200%;
}
@keyframes new {
  0%{letter-spacing:1px;}
  50%{letter-spacing:135px;color:yellow;}
  100%{letter-spacing:1px;}
}
#heading1{
  text-align:center;
  position: relative;
  animation-name: new;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
